body {
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	background-image:linear-gradient(red, orange, yellow, green, blue, indigo, purple, red);
	height:100vh;
	min-width:800px;
}

button {
	color: white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	background-image: linear-gradient(to right, red, yellow, blue, red);
}

#pageContent{
	margin:auto;
	height:1000px;
	width:1200px;
}

#gameHolder{
	width:66.66%;
	display: flex;
	justify-content: center;
	float:left;
}

#description{
	float:left;
	width:33.33%;
	height:800px;
	background-color: white;
}

#snake{
	height:46.25%;
	width:92.5%;
}
#title{
	width:100%;
	height:120px;

}
.header{
	font-family:'Fredericka the Great', cursive;
	font-size:60px;
	padding:15px;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.snek{
	font-family: coiney, cursive;
	font-size:0.9em;
	padding:15px;
	background-color:white;
}

.mongoose{
	font-family: 'Open Sans Condensed', sans-serif;
	color:white;
	background-color:black;
	padding:15px;
}

.blinking{
    animation:blinkingText 10s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: purple; }
    50%{    color: violet; }
    99%{    color:indigo;  }
    100%{   color: #000;    }
}

@media only screen and (max-width:1199px) {
	#pageContent{
		width:800px;
		height:1400px;
		margin-top:100px;
		margin-bottom:100px;
	}
  
	#gameHolder{
		width:100%;
	}
	#description{
		width:100%;
		height:400px;
	}
	#snake{
		height:92.5%;
		width:46.25%;
		float:left;
	}
}

@media only screen and (max-width:800px) {
	#pageContent{
		width:100%;
		
	}
}
